/*style for the 404 page*/
html {
  background-color: #4C613A;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

body {
  border: 2px solid black;
}

a {
  color: #D9E6CF;
}
